[project]
	description = Creating Intel(R) Firmware Support Package (Intel(R) FSP) for Intel(R) Quark SoC X1000
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Fei Wang (feizwang)
[access "refs/for/refs/*"]
	read = group user/Fei Wang (feizwang)
	push = group user/Fei Wang (feizwang)
	label-Code-Review = -2..+2 group user/Fei Wang (feizwang)
	label-Verified = -1..+1 group user/Fei Wang (feizwang)
	rebase = group user/Fei Wang (feizwang)
	removeReviewer = group user/Fei Wang (feizwang)
	submit = group user/Fei Wang (feizwang)
[access "refs/heads/*"]
	read = group user/Fei Wang (feizwang)
	create = group user/Fei Wang (feizwang)
	push = +force group user/Fei Wang (feizwang)
	pushMerge = group user/Fei Wang (feizwang)
[access "refs/tags/*"]
	push = +force group user/Fei Wang (feizwang)
	pushTag = group user/Fei Wang (feizwang)
	pushSignedTag = group user/Fei Wang (feizwang)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
